# API
API_HOST=0.0.0.0
API_PORT=8000
SECRET_KEY=change_me_in_production

# Dashboard
STREAMLIT_PORT=8501

# GPU
CUDA_VISIBLE_DEVICES=0

# MLflow
MLFLOW_TRACKING_URI=mlruns
MLFLOW_EXPERIMENT_NAME=rugby_ia_detection

# Chemins modèles
YOLO_WEIGHTS=data/models/rugby_detector.pt
PHASE_MODEL_PATH=data/models/phase_classifier.pt
PATTERN_MODEL_PATH=data/models/pattern_model.pt

# Roboflow — obtenez votre clé sur https://app.roboflow.com/settings/api
ROBOFLOW_API_KEY=fFkApOIskzteRyI5rvwm

# World Rugby (optionnel, pour l'API officielle)
WORLD_RUGBY_API_KEY=

# Logs
LOG_LEVEL=INFO
